body {
   background-color: #98c1d9;
}

.navTab {
   padding: 5px;
}

#articleSection {
   border: 1px solid black;
   width: 70%;
   margin: 5px;
   padding: 20px;
   list-style-type: none;
   background-color: #3d5a80;
   color: #ee6c4d;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#commentSection {
   border: 1px solid black;
   width: 70%;
   margin: 5px;
   padding: 20px;
   list-style-type: none;
   background-color: #3d5a80;
   color: #ee6c4d;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#article {
   display: flex;
}

/* #commentSection {
   display: flex;
   justify-content: start;
} */

h1, #topic-h2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #142139
}

ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

li {
   border: 1px solid black;
   width: 70%;
   margin: 5px;
   padding: 5px;
   list-style-type: none;
   background-color: #3d5a80;
   color: #ee6c4d;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.commentLi {
   width: 100%;
   background-color: #22497c;
}

a {
   text-decoration: none;
   color: #ee6c4d;
}

p {
   font-size: 20px;
}

#btn-p {
   text-align: center;
}

.arrowBtn {
   background-color: #3d5a80;
   border: none;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 50px;
   margin: 4px 2px;
   cursor: pointer;
}

input[type=text], select {
   width: 300px;
   padding: 12px 20px;
   margin: 8px 0;
   display: block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }
 
 input[type=submit] {
   width: 100%;
   background-color: #143b6d;
   border: 1px solid black;
   color: #ee6c4d;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 

 div.container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }